/*
  ========================================
  body
  ========================================
*/

body {
  background-color: black;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  height:1700px;
  overflow-y: scroll;
}
#button-box {
  position: fixed;
  top: 10px;
  height: 70px;
  width: 340px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
.scroll-button {
  position: relative;
  width: 60px;
}
#up-button {
  float: right;
}
#down-button {
  float: left;
}
#steve {
  display: none;
  position: absolute;
  top: 230px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
.heading {
  font-family: 'Architects Daughter', cursive;
}
a {
  color: wheat;
  text-decoration: underline;
}
a:hover, a.dark:hover {
  color: red;
}
a.dark {
  color: black;
}
h5 {
  font-size: 1.4em;
}
ul li {
    list-style-type: circle;
    list-style-position: inside;
    font-size: 1em;
    text-align: left;

}
#mountains {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}
#ufo {
  position: absolute;
  right: 30%;
  top: 1060px;
  width: 350px;
  z-index: 1;
  opacity: .8;
}
#reveal-box1 {
  width: 100%;
  height: 100px;
  background-color: wheat;
  position: fixed;
  top: 0;
}
#reveal-box2 {
  width: 100%;
  height: 130px;
  background-color: wheat;
  position: fixed;
  top: 230px;
  z-index: 1;
}
#reveal-box3 {
  width: 100%;
  height: 130px;
  background-color: wheat;
  position: fixed;
  top: 490px;
  z-index: 0;
}
#name {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 30px;
}
/*
  ========================================
  first level
  ========================================
*/
.arrows {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  height: 60px;
}
.first-arrow {
  top: 130px;
}
#projects {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 160px;
  color: black;
}
#project-one{
  position: absolute;
  top: 240px;
  color: wheat;
}
#project-two{
  position: absolute;
  top: 370px;
  color: black;
  z-index: 1;
}
#project-three{
  position: absolute;
  top: 500px;
  color: wheat;
}
.first-links {
  display: none;
}
#sun {
  display: none;
  position: absolute;
  top: 510px;
  left: 10%;
  height: 100px;
  opacity: .5;
  z-index: 0;
}
/*
  ========================================
  second level
  ========================================
*/
.second-arrow {
  top: 630px;
  display: none;
}
.level-two {
  display: none;
}
#skills {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 330px;
  color: black;
}
#skill-one{
  position: absolute;
  top: 410px;
  color: wheat;
}
#skill-two{
  position: absolute;
  top: 540px;
  color: black;
  z-index: 1;
}
#skill-three{
  position: absolute;
  top: 670px;
  color: wheat;
}
#moon {
  position: absolute;
  top: 920px;
  left: 10%;
  height: 100px;
  opacity: .8;
  z-index: 0;
}

/*
  ========================================
  third level
  ========================================
*/
.level-three {
  display: none;
}
.third-arrow {
  top: 710px;
  display: none;
}
#about {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 540px;
  color: black;
}
#about-one{
  position: absolute;
  top: 610px;
  color: wheat;
}
#about-two{
  position: absolute;
  top: 740px;
  color: black;
  z-index: 1;
}
#about-three{
  position: absolute;
  top: 880px;
  color: wheat;
}
.thumbnail {

}
/*
  ========================================
  fourth level
  ========================================
*/
.level-four {
  display: none;
}
#contact {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 730px;
  color: black;
}
#contact-one{
  position: absolute;
  top: 840px;
  color: wheat;
}
#contact-two{
  position: absolute;
  top: 960px;
  color: black;
  z-index: 1;
}
#contact-three{
  position: absolute;
  top: 1100px;
  color: wheat;
}
#open-src {
  display: inline;
}

@media screen and (min-width: 500px){
  #headline{
    font-size: 3.5rem;
  }
}
