<div id="reveal-box1"></div>
<div id="reveal-box2"></div>
<div id="reveal-box3"></div>
<img id="down" class="first-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="mountains" src="images/mountains.png" alt="mountains" />
<img id="ufo" src="images/ufo.png" alt="mountains" />
<img id="sun" class="hide-on-small-only" src="images/real_sun.png" alt="sun" />
<img id="moon" src="images/real_moon.png" alt="moon" />
<img id="steve" src="images/steve.png" alt="steve" />
<div id="button-box">
  <img class="scroll-button" id="up-button" src="images/up-buttons2.png" alt="up button" />
  <img class="scroll-button" id="down-button" src="images/down-buttons1.png" alt="down button" />
</div>




<div class="container">
  <h3 class="heading" id="name">Steven O.</h3>
  <h3 class="heading" id="projects">Projects:</h3>

  <div class="level-one">
    <div id="project-one" class="row container">
      <div class="col s6 m4">
        <h6 class="item1">RAMBLE MAP</h6>
        <a target="_blank" class="item1" href="http://www.ramblemap.com">Live Site</a> -
        <a target="_blank" class="item1" href="https://github.com/SteveOscar/ramble_map">Github</a>
        <p>Rails, Javascript, Secure API</p>
        <p>Caching, Postgres, Oauth</p>
      </div>
      <div class="col s6 m4">
        <h6 class="item1">JEZZBALL</h6>
        <a target="_blank" class="item1" href="http://martensonbj.github.io/game_time/">Live Site</a> -
        <a target="_blank" class="item1" href="https://github.com/SteveOscar/game_time">Github</a>
        <p>Clientside game</p>
        <p>HTML Canvas, JS</p>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <h5>TOOLS USED</h5>
          <p>Rails</p>
          <p>Sinatra</p>
          <p>React Native</p>
        </ul>
      </div>
    </div>

    <div id="project-two" class="row container">
      <div class="col s5 m4">
        <h6 class="item1">MOVIE SUGGESTIONS</h6>
        <a target="_blank" class="item1 dark" href="http://www.nonshittymovies.com">Live Site</a> -
        <a target="_blank" class="item1 dark" href="https://github.com/SteveOscar/nonshitmovies">Github</a>
        <p>Sinatra App</p>
        <p>Dynamic Content</p>
      </div>
      <div class="col s7 m4">
        <h6 class="item1">FOTOFETCH</h6>
        <a target="_blank" class="item1 dark" href="https://rubygems.org/gems/fotofetch/versions/0.1.0">Gem</a> -
        <a target="_blank" class="item1 dark" href="https://github.com/SteveOscar/fotofetch">Github</a>
        <p>Ruby Gem</p>
        <p>500+ downloads</p>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <p>TDD</p>
          <p>oAuth</p>
          <p>jQuery</p>
          <p>Postgres</p>
        </ul>
      </div>
    </div>

    <div id="project-three" class="row container">
      <div class="col s5 m4">
        <h6 class="item1">Dream Builder</h6>
        <a target="_blank" class="item1" href="http://dreambuilder.herokuapp.com">Live Site</a> -
        <a target="_blank" class="item1" href="https://github.com/SteveOscar/the_dream_builder">Github</a>
        <p>Rails Kickstarter Clone</p>
        <p>Multitenant Platform</p>
      </div>
      <div class="col s7 m4">
        <h6 class="item1">RAMBLE APP</h6>
        <a target="_blank" class="item1" href="https://camo.githubusercontent.com/6bc9e382807f8875bfa928ba8e2c076a0e80ba5e/687474703a2f2f672e7265636f726469742e636f2f47357633557762567a782e676966">Demo</a> -
        <a target="_blank" class="item1" href="https://github.com/SteveOscar/Ramble_App">Github</a>
        <p>React Native</p>
        <p>IOS App</p>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <p>Skylight</p>
          <p>API Tokenization</p>
          <p>High/Low-level Caching</p>
          <p>Authentication/Authorization</p>
        </ul>
      </div>
    </div>
  </div>

  <div class="level-two">
    <h3 class="heading" id="skills">Skills:</h3>
    <div id="skill-one" class="row container">
      <div class="col s6 m5">
        <br>
        <h5 class="item1">Languages</h5>
      </div>
      <div class="col s6 m4">
        <ul class="item1">
          <li>Ruby 2.x</li>
          <li>JavaScript ES5</li>
          <li>HTML/CSS</li>
        </ul>
      </div>
      <div class="col s4 m3">
        <ul class="item1">

        </ul>
      </div>
    </div>

    <div id="skill-two" class="row container">
      <div class="col s4 m5">
        <br>
        <h5 class="item1">Frameworks<br>/Libraries</h5>
      </div>
      <div class="col s4 m4">
        <ul class="item1">
          <li>Rails 4</li>
          <li>Sinatra</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col s4 m3">
        <ul class="item1">
          <li>Materialize</li>
          <li>SASS/SCSS</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>

    <div id="skill-three" class="row container">
      <div class="col s3 m5">
        <br>
        <h5 class="item1">Tools/<br>Testing</h5>
      </div>
      <div class="col s4 m4">
        <ul class="item1">
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Agile</li>
        </ul>
      </div>
      <div class="col s5 m3">
        <ul class="item1">
          <li>Minitest/Rspec</li>
          <li>Capybara/Selenium</li>
          <li>Mocha/VCR</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="level-three">
    <h3 class="heading" id="about">About:</h3>
    <div id="about-one" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Work<br>History</h5>
      </div>
      <div class="col s7 m5">
        <ul class="item1">
          <br>
          <li>9 years as a commercial fisherman in AK</li>
          <li>Photographer & writer</li>
          <li>English teacher in Korea</li>
        </ul>
      </div>
      <div class="col m3 hide-on-small-only">
        <br>
        <img class="thumbnail" src="images/fish.png" alt="mountains" />
      </div>
    </div>

    <div id="about-two" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Education</h5>
      </div>
      <div class="col s7 m5">
        <ul class="item1">
          <li>BA Creative Writing</li>
          <li>Full-Stack web development <br>&nbsp -Turing School of Software & Design</li>
        </ul>
      </div>
      <div class="col m3 hide-on-small-only">
        <img class="thumbnail" src="images/turing_logo.png" alt="mountains" />
      </div>
    </div>

    <div id="about-three" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Links</h5>
      </div>
      <div class="col s7 m5">
        <ul class="item1">
          <li><a target="_blank" class="" href="https://github.com/SteveOscar">Github</a></li>
          <li><a target="_blank" class="" href="http://www.theretohere.com">Photography</a></li>
          <li><a target="_blank" class="" href="https://www.youtube.com/watch?v=0X7ak2_JfP4">Commercial Fishing</a></li>
        </ul>
      </div>
      <div class="col m3 hide-on-small-only">
        <img class="thumbnail" src="images/camera.png" alt="mountains" />
      </div>
    </div>
  </div>

  <div class="level-four">
    <h3 class="heading" id="contact">Contact:</h3>
    <div id="contact-one" class="row container">
      <div class="col s12">
        <ul class="item1">
          <h6 id="open-src">Open Source: </h6><a target="_blank" class="" href="https://github.com/SteveOscar">FotoFetch Ruby Gem</a>
          <h6>steveoscarolson@gmail.com</h6>
            <h6>+1 970 209-9982</h6>
        </ul>
      </div>

    </div>

    <div id="contact-two" class="row container">
      <div class="col s12">
        <a target="_blank" class="" href="https://twitter.com/oSteveOscar"><img class="thumbnail" src="images/twitter.png" alt="mountains" /></a>
        <a target="_blank" class="" href="https://www.linkedin.com/in/stevenoolson"><img class="thumbnail" src="images/linkedin.png" alt="mountains" /></a>
        <a target="_blank" class="" href="https://github.com/SteveOscar"><img class="thumbnail" src="images/github.png" alt="mountains" /></a>

      </div>
    </div>

    <div id="contact-three" class="row container">
      <div class="col s12">
      </div>
    </div>
  </div>

</div>
