<div id="reveal-box1"></div>
<div id="reveal-box2"></div>
<div id="reveal-box3"></div>
<img id="down" class="first-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="down" class="second-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="down" class="third-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="mountains" src="images/mountains_dark.png" alt="mountains" />



<div class="container">
  <h3 id="name">Steven Olson</h3>
  <h3 id="projects">Projects:</h3>

  <div class="level-one">
    <div id="project-one" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Ramble Map</h5>
        <a class="item1 first-links" href="http://www.ramblemap.com">Live Site</a> -
        <a class="item1 first-links" href="https://github.com/SteveOscar/ramble_map">Github</a>
      </div>
      <div class="col s7 m4">
        <ul class="item1">
          <li>OpenExchangeRates API</li>
          <li>jVectorMap library</li>
          <li>Low/High level caching</li>
          <li>Twitter Oauth & REST API</li>
        </ul>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <li>Scheduled background task</li>
          <li>Rails/PostgreSQL</li>
          <li>Built with TDD/Agile</li>
          <li>Hosted on Heroku</li>
        </ul>
      </div>
    </div>

    <div id="project-two" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Movie Suggestions</h5>
        <a class="item1 first-links dark" href="http://www.nonshittymovies.com">Live Site</a> -
        <a class="item1 first-links dark" href="https://github.com/SteveOscar/nonshitmovies">Github</a>
      </div>
      <div class="col s7 m4">
        <ul class="item1">
          <li>Finds best-rated films</li>
          <li>Nokigiri + Mechanize scraping</li>
          <li>Built with Sinatra</li>
          <li>Hosted on Heroku</li>
        </ul>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1"><br>
          <li>Dynamic page content</li>
          <li>Image caching</li>
          <li>Movies update autmatically</li>
        </ul>
      </div>
    </div>

    <div id="project-three" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Dream Builder</h5>
        <a class="item1 first-links" href="http://dreambuilder.herokuapp.com">Live Site</a> -
        <a class="item1 first-links" href="https://github.com/SteveOscar/nonshitmovies">Github</a>
      </div>
      <div class="col s7 m4">
        <ul class="item1">
          <li>KickStarter clone</li>
          <li>Multi-tenant platform</li>
          <li>4 levels of user roles</li>
          <li>Built with TDD/Agile</li>
        </ul>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <li>Stripe donations</li>
          <li>Metric for platform admin</li>
          <li>Rails/postgreSQL</li>
          <li>Authentication/Authorization</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="level-two">
    <h3 id="skills">Skills:</h3>
    <div id="skill-one" class="row container">
      <div class="col s4">
        <br>
        <h6 class="item1">Languages</h6>
      </div>
      <div class="col s4">
        <ul class="item1">
          <li>Ruby 2.x</li>
          <li>JavaScript ES5</li>
          <li>HTML/CSS</li>
        </ul>
      </div>
      <div class="col s4">
        <ul class="item1">

        </ul>
      </div>
    </div>

    <div id="skill-two" class="row container">
      <div class="col s4">
        <br>
        <h6 class="item1">Frameworks/<br>Libraries</h6>
      </div>
      <div class="col s3">
        <ul class="item1">
          <li>Rails 4.x</li>
          <li>Sinatra</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col s5">
        <ul class="item1">
          <li>Materialize</li>
          <li>SASS/SCSS</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>

    <div id="skill-three" class="row container">
      <div class="col s4">
        <br>
        <h6 class="item1">Tools/Testing</h6>
      </div>
      <div class="col s3">
        <ul class="item1">
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Agile</li>
        </ul>
      </div>
      <div class="col s5">
        <ul class="item1">
          <li>Minitest/Rspec</li>
          <li>Capybara</li>
          <li>Mocha/VCR</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="level-three">
    <h3 id="about">About:</h3>
    <div id="about-one" class="row container">
      <div class="col s4">
        <br>
        <h6 class="item1">Work<br>History</h6>
      </div>
      <div class="col s8">
        <ul class="item1">
          <li>9 years as a commercial fisherman in AK</li>
          <li>Freelance photographer & writer</li>
          <li>English teacher in Korea</li>
        </ul>
      </div>
    </div>

    <div id="about-two" class="row container">
      <div class="col s4">
        <br>
        <h6 class="item1">Education</h6>
      </div>
      <div class="col s8">
        <ul class="item1">
          <li>BA Creative Writing <br>&nbsp -Colorado Mesa University</li>
          <li>Full-Stack web development <br>&nbsp -Turing School of Software & Design</li>
        </ul>
      </div>
    </div>

    <div id="about-three" class="row container">
      <div class="col s4">
        <br>
        <h6 class="item1">Links</h6>
      </div>
      <div class="col s8">
        <ul class="item1">
          <li><a class="" href="https://github.com/SteveOscar">Github</a></li>
          <li><a class="" href="http://www.theretohere.com">Photography</a></li>
          <li><a class="" href="https://www.youtube.com/watch?v=0X7ak2_JfP4">Fishing Video</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="spacer">
  </div>
  <span id="end">END</span>
</div>
