<div id="reveal-box1"></div>
<div id="reveal-box2"></div>
<div id="reveal-box3"></div>
<img id="down" class="first-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="down" class="second-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="down" class="third-arrow arrows" src="images/down_arrow_beige.png" alt="beige down arrow" />
<img id="mountains" src="images/mountains.png" alt="mountains" />
<img id="ufo" src="images/ufo.png" alt="mountains" />
<img id="sun" class="hide-on-small-only" src="images/sun.png" alt="sun" />
<img id="moon" src="images/moon.png" alt="moon" />
<img id="steve" src="images/steve.png" alt="steve" />
<div id="button-box">
  <img class="scroll-button" id="up-button" src="images/up-buttons2.png" alt="up button" />
  <img class="scroll-button" id="down-button" src="images/down-buttons1.png" alt="down button" />
</div>




<div class="container">
  <h3 class="heading" id="name">Steven O.</h3>
  <h3 class="heading" id="projects">Projects:</h3>

  <div class="level-one">
    <div id="project-one" class="row container">
      <div class="col s5 m4">
        <h5 class="item1">Ramble Map</h5>
        <a target="_blank" class="item1" href="http://www.ramblemap.com">Live Site</a> -
        <a target="_blank" class="item1" href="https://github.com/SteveOscar/ramble_map">Github</a>
      </div>
      <div class="col s7 m4">
        <ul class="item1">
          <li>OpenExchangeRates API</li>
          <li>jVectorMap library</li>
          <li>Low/High level caching</li>
          <li>Twitter Oauth & REST API</li>
        </ul>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <li>Scheduled background task</li>
          <li>Rails/PostgreSQL</li>
          <li>Built with TDD/Agile</li>
          <li>Hosted on Heroku</li>
        </ul>
      </div>
    </div>

    <div id="project-two" class="row container">
      <div class="col s5 m4">
        <h5 class="item1">Movie Suggestions</h5>
        <a target="_blank" class="item1 dark" href="http://www.nonshittymovies.com">Live Site</a> -
        <a target="_blank" class="item1 dark" href="https://github.com/SteveOscar/nonshitmovies">Github</a>
      </div>
      <div class="col s7 m4">
        <ul class="item1">
          <li>Finds best-rated films</li>
          <li>Nokigiri + Mechanize scraping</li>
          <li>Built with Sinatra</li>
          <li>Hosted on Heroku</li>
        </ul>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <li>Dynamic page content</li>
          <li>Image caching</li>
          <li>Movies update autmatically</li>
          <li>Uses Custom FotoFetch Gem</li>
        </ul>
      </div>
    </div>

    <div id="project-three" class="row container">
      <div class="col s5 m4">
        <h5 class="item1">Dream Builder</h5>
        <a target="_blank" class="item1" href="http://dreambuilder.herokuapp.com">Live Site</a> -
        <a target="_blank" class="item1" href="https://github.com/SteveOscar/nonshitmovies">Github</a>
      </div>
      <div class="col s7 m4">
        <ul class="item1">
          <li>KickStarter clone</li>
          <li>Multi-tenant platform</li>
          <li>4 levels of user roles</li>
          <li>Built with TDD/Agile</li>
        </ul>
      </div>
      <div class="col m4 hide-on-small-only">
        <ul class="item1">
          <li>Stripe donations</li>
          <li>Metrics for platform admin</li>
          <li>Rails/postgreSQL</li>
          <li>Authentication/Authorization</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="level-two">
    <h3 class="heading" id="skills">Skills:</h3>
    <div id="skill-one" class="row container">
      <div class="col s4 m5">
        <br>
        <h5 class="item1">Languages</h5>
      </div>
      <div class="col s4 m4">
        <ul class="item1">
          <li>Ruby 2.x</li>
          <li>JavaScript ES5</li>
          <li>HTML/CSS</li>
        </ul>
      </div>
      <div class="col s4 m3">
        <ul class="item1">

        </ul>
      </div>
    </div>

    <div id="skill-two" class="row container">
      <div class="col s4 m5">
        <br>
        <h5 class="item1">Frameworks/<br>Libraries</h5>
      </div>
      <div class="col s3 m4">
        <ul class="item1">
          <li>Rails 4.x</li>
          <li>Sinatra</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col s5 m3">
        <ul class="item1">
          <li>Materialize</li>
          <li>SASS/SCSS</li>
          <li>Bootstrap</li>
        </ul>
      </div>
    </div>

    <div id="skill-three" class="row container">
      <div class="col s3 m5">
        <br>
        <h5 class="item1">Tools/<br>Testing</h5>
      </div>
      <div class="col s4 m4">
        <ul class="item1">
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Agile</li>
        </ul>
      </div>
      <div class="col s5 m3">
        <ul class="item1">
          <li>Minitest/Rspec</li>
          <li>Capybara/Selenium</li>
          <li>Mocha/VCR</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="level-three">
    <h3 class="heading" id="about">About:</h3>
    <div id="about-one" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Work<br>History</h5>
      </div>
      <div class="col s7 m5">
        <ul class="item1">
          <br>
          <li>9 years as a commercial fisherman in AK</li>
          <li>Freelance photographer & writer</li>
          <li>English teacher in Korea</li>
        </ul>
      </div>
      <div class="col m3 hide-on-small-only">
        <br>
        <img class="thumbnail" src="images/fish.png" alt="mountains" />
      </div>
    </div>

    <div id="about-two" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Education</h5>
      </div>
      <div class="col s7 m5">
        <ul class="item1">
          <li>BA Creative Writing <br>&nbsp -Colorado Mesa University</li>
          <li>Full-Stack web development <br>&nbsp -Turing School of Software & Design</li>
        </ul>
      </div>
      <div class="col m3 hide-on-small-only">
        <img class="thumbnail" src="images/turing_logo.png" alt="mountains" />
      </div>
    </div>

    <div id="about-three" class="row container">
      <div class="col s5 m4">
        <br>
        <h5 class="item1">Links</h5>
      </div>
      <div class="col s7 m5">
        <ul class="item1">
          <li><a target="_blank" class="" href="https://github.com/SteveOscar">Github</a></li>
          <li><a target="_blank" class="" href="http://www.theretohere.com">Photography</a></li>
          <li><a target="_blank" class="" href="https://www.youtube.com/watch?v=0X7ak2_JfP4">Commercial Fishing</a></li>
        </ul>
      </div>
      <div class="col m3 hide-on-small-only">
        <img class="thumbnail" src="images/camera.png" alt="mountains" />
      </div>
    </div>
  </div>

  <div class="level-four">
    <h3 class="heading" id="contact">Contact:</h3>
    <div id="contact-one" class="row container">
      <div class="col s12">
        <ul class="item1">
          <h6 id="open-src">Open Source: </h6><a target="_blank" class="" href="https://github.com/SteveOscar">FotoFetch Ruby Gem</a>
          <h6>steveoscarolson@gmail.com</h6>
            <h6>+1 970 209-9982</h6>
        </ul>
      </div>

    </div>

    <div id="contact-two" class="row container">
      <div class="col s12">
        <a target="_blank" class="" href="https://twitter.com/oSteveOscar"><img class="thumbnail" src="images/twitter.png" alt="mountains" /></a>
        <a target="_blank" class="" href="https://www.linkedin.com/in/stevenoolson"><img class="thumbnail" src="images/linkedin.png" alt="mountains" /></a>
        <a target="_blank" class="" href="https://github.com/SteveOscar"><img class="thumbnail" src="images/github.png" alt="mountains" /></a>

      </div>
    </div>

    <div id="contact-three" class="row container">
      <div class="col s12">
      </div>
    </div>
  </div>

</div>
